.alert {
  font-family:Roboto, Arial, Helvetica, sans-serif;
  font-size:14pt;
  width:99%;
  padding:.5%;
  background-color:#909090;
  color:white;
  transition:0.5s;
  position:absolute;
  top:0px;
}

.closebtn {
  margin-left:15px;
  color:white;
  font-weight:bold;
  float:right;
  cursor:pointer;
  transition:0.3s;
}

.closebtn:hover {
  color:#343443;
}

