/* bar indicator css */
.bar	{
    background-color: #b9b9c4;
    width: 0%;
    height: 100%;
    color: #5e5e68;
    padding-left: 5px;
    transition: all 0.5s ease-in-out 0s;
}
.bar_frame	{
    height: 40px;
    width: 200px;
    border: 1px solid #323243;
    padding: 2px;
    margin:4px;
}
.bar_frame .label	{
    display: inline-block;
    width: max-content;
    line-height:40px;
    font-weight:bold;
}
.bar_title	{
	margin:2px;
	margin-left:6px;
}
