body	{
	background-color:#4F80BC;
}
.dialog	{
	font-family: Arial, Helvetica, sans-serif;
	color:#333;
	min-width:300px;
	min-height:200px;
	display:block;
	position:absolute;
	z-index:99;
	left:20px;
	top:20px;
	background:rgba(255,255,255,.85);
	border:2px solid rgba(32,32,32,.85);
	display:none;
	border-radius: .25rem;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	color: #111;
	text-align: center;
	cursor: pointer;
	background-color: #fff;
    border-color: #09274B;
    /*border: 1px solid transparent;
	padding: .375rem .75rem;*/
	font-size: 1rem;
}
/*.dialog {
	display: block;
}*/
.dialog .header	{
	font-weight: 400;
	line-height: 1.5;
	background-color: #002D62;
	color: #fff;
}
.twwmodal	{
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.333);
    position: fixed;
}
