.label	{
	font-size:12pt;
	height:9pt;
	color:#999;
	transition:font-size .5s;
}
.textbox {
	font-size:14pt;
    width: 100%;
    height:14pt;
    border-bottom: 2pt solid #ccc;
    background-color: rgba(255,255,255,0);
    position: relative;
}
.textbox br {
	display:none;
}
.textbox * {
	display:inline;
	white-space:nowrap;
}
.textbox:focus	{
	outline:none;
	border:none;
	border-bottom:solid 2pt #009;
}
.input {
    background-color: rgba(255,255,255,0);
    position: relative;
}

.selectbox {
	font-size:14pt;
    width: 100%;
    height:18pt;
    border-bottom: 2pt solid #ccc;
    background-color: rgba(255,255,255,0);
    position: relative;
}
.selectbox br {
	display:none;
}
.selectbox * {
	display:inline;
	white-space:nowrap;
}
/*.selectbox:focus	{
	outline:none;
	border:none;
	border-bottom:solid 2pt #009;
}*/
.selectbox::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 3pt;
    border-right-color: #ccc;
    border-bottom-color: #ccc;
}
.selctbox:focus::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 3pt;
    border-right-color: #009;
    border-bottom-color: #009;
}
