.list  {
	font-family: Arial, Helvetica, sans-serif;
	width:100%;
	border-collapse:collapse;
	cursor:normal;
}
.list td, .list th {
	border:0px;
	padding:3px 7px 2px 7px;
	font-weight:lighter;
	color:#444;
}
.list th {
	text-align:left;
	padding-top:5px;
	padding-bottom:4px;
	background-color:#888;
	font-weight:bold;
	color:#fff;
}
.list tr[selected=true] td {
	background-color:#85b8ed;
	border-bottom:1px solid #85b8ed;
}
.list tr	{
	border-bottom:1px solid #ddd;
}
