.menu	{
	font-size:14pt;
	display:block;
	position:absolute;
	top:23pt;
	left:0px;
	width:100%;
	border-bottom:solid 2px #009;
	background-color:rgba(255,255,255,.9);
	list-style-type:none;
	padding:0px;
	margin:0px;
	overflow:hidden;
	opacity:0;
	transition:opacity .5s;
}
.menu>li	{
	padding: 2pt;
	cursor:default;
}
.menu>li:hover	{
	background-color:#b2d6f4;
}
