.button	{
	color:#fff;;
    /*background-color:#002D62;*/
	display:inline-block;
	border:solid 1px #09274B;
	cursor:default;
	font-family:arial, sans;
	font-weight:bold;
	padding:6px 5px 6px 5px;
	margin:2px;
	min-width:24px;
	text-align:center;
	border-radius:.25rem;
	background-color: #3e4d5f;
    border-color: #09274B;	
}
.button:hover	{
	background:#888;
}
.button:active	{
	color:rgba(255,255,255,.5);
	background:rgba(32,32,32,.8);
	border:solid 1pt rgba(128,128,128,.5);	
}
button:disabled,
button[disabled]{
  border: 1px solid rgba(128,128,128,.3);
  background:#DDD;
  color:rgba(128,128,128,.3);
}	
.toolbar	{
	/*background-color:#eee;*/
	background-color:#4F80BC;
	border-bottom:0px;
	width:100%;
}
.menu	{
	display:block;
	position:absolute;
	top:22pt;
	left:0px;
	width:100%;
	border-bottom:solid 2pt #009;
	background-color:rgba(255,255,255,.9);
	list-style-type:none;
	padding:0px;
	margin:0px;
}
.menu>li	{
	padding: 2pt;
	cursor:default;
}
.menu>li:hover	{
	background-color:#b2d6f4;
}
