<div id="%(id)s">
	<span id="conn_status">....</span><br>
	Username - <input type="text" id="uid"><br>
	Status - <input type="text" id="status"><br>
	<input type=button onclick="getUser()" value="Get User Info"><input type=button onclick="setStatus()" value="Set User Info"><br>
	<span id="user_info">???</span>
</div>

